<div class="container">

  <section class="section">

    <h1 class="title has-text-centered">Change password</h1>

    <div class="notification is-danger is-light is-hidden" id="errors">

    </div>

    <div class="loginForm">
      <form [formGroup]="changePasswordForm" (ngSubmit)="handleSubmit()">

        <div class="field" id="oldPassword">
          <label class="label">Current password</label>
          <div class="control">
            <input class="input"
                   [ngClass]="{'is-danger' : changePasswordForm.controls.oldPassword.hasError('required')
&& !changePasswordForm.controls.oldPassword.untouched }" type="password" formControlName="oldPassword">
          </div>

          <div *ngIf="changePasswordForm.controls.oldPassword.hasError('required')
&& !changePasswordForm.controls.oldPassword.untouched">

            <p class="help is-danger">Current password is mandatory</p>

          </div>

        </div>

        <div class="field" id="newPassword">
          <label class="label">New password</label>
          <div class="control">
            <input class="input"
                   [ngClass]="{'is-danger' : changePasswordForm.controls.newPassword.hasError('required')
&& !changePasswordForm.controls.newPassword.untouched }"
                   type="password"
                   formControlName="newPassword">
          </div>

          <div *ngIf="changePasswordForm.controls.newPassword.hasError('required')
&& !changePasswordForm.controls.newPassword.untouched">

            <p class="help is-danger">Password is mandatory</p>

          </div>

        </div>

        <div class="field" id="confirmPassword">
          <label class="label">Confirm new password</label>
          <div class="control">
            <input class="input"
                   [ngClass]="{'is-danger' : changePasswordForm.controls.confirmPassword.hasError('required')
&& !changePasswordForm.controls.confirmPassword.untouched }"
                   type="password"
                   formControlName="confirmPassword">
          </div>

          <div *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')
&& !changePasswordForm.controls.confirmPassword.untouched">

            <p class="help is-danger">Password is mandatory</p>

          </div>

        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Change password</button>
          </div>
        </div>

      </form>
    </div>

  </section>

</div>
