<div class="container">

  <section class="section">

    <div class="formSection">

      <h1 class="title has-text-centered">Create new contact</h1>

      <div class="addContactForm">


        <!--<div class="card">
          <div class="card-content">
            <div class="content">
              Do you wish to add an existent contact? You can search for one by name:

              <input [(ngModel)]="searchSelectedContact"
                     typeaheadOptionField="name"
                     typeaheadGroupField="surname"
                     [typeahead]="contacts"
                     (typeaheadOnSelect)="onSelect($event.item)"
                     placeholder="Type a contact name"
                     class="input mt-4">

            </div>
          </div>
        </div>-->


        <form [formGroup]="addContactForm" (ngSubmit)="handleSubmit()">

          <div class="field" id="name">
            <label class="label">Name</label>
            <div class="control">
              <input class="input"
                     [ngClass]="{'is-danger' : addContactForm.controls.name.hasError('required')
&& !addContactForm.controls.name.untouched }" type="text" formControlName="name">
            </div>

            <div *ngIf="addContactForm.controls.name.hasError('required')
&& !addContactForm.controls.name.untouched">

              <p class="help is-danger">Name is mandatory</p>

            </div>

          </div>

          <div class="field" id="surname">
            <label class="label">Surname</label>
            <div class="control">
              <input class="input"
                     [ngClass]="{'is-danger' : addContactForm.controls.surname.hasError('required')
&& !addContactForm.controls.surname.untouched }"
                     type="text"
                     formControlName="surname">
            </div>

            <div *ngIf="addContactForm.controls.surname.hasError('required')
&& !addContactForm.controls.surname.untouched">

              <p class="help is-danger">Surname is mandatory</p>

            </div>

          </div>

          <div class="field" id="birthday">
            <label class="label">Birthday</label>
            <div class="control">
              <input class="input"
                     type="date"
                     formControlName="birthday">
            </div>

          </div>

          <div class="field" id="contactEmergency">
            <label for="contactEmergency" class="label">Contact emergency</label>
            <div class="control">
              <label class="radio">
                <input type="radio" id="yes" name="contactEmergency" value="true" formControlName="contactEmergency">
                Yes
              </label>
              <label class="radio">
                <input type="radio" id="no" name="contactEmergency" value="false" formControlName="contactEmergency">
                No
              </label>
            </div>
          </div>

          <!-- Add telephone -->
          <div class="field" formArrayName="telephoneList" id="telephoneList">
            <div *ngFor="let telephone of telephones.controls; let i=index" [formGroupName]="i">

              <div>
                <div class="divider is-success">Telephone {{i + 1}}</div>
              </div>

              <label class="label">Telephone number</label>
              <input class="input"
                     type="text" formControlName="telephoneNumber">

              <label class="label mt-2">Type</label>
              <input class="input mb-2"
                     type="text" formControlName="type">

            </div>

          </div>

          <button type="button" class="mb-5" (click)="addTelephone()">Add phone</button>

          <!-- Add email -->
          <div class="field" formArrayName="emailList" id="emailList">
            <div *ngFor="let email of emails.controls; let i=index" [formGroupName]="i">

              <div>
                <div class="divider is-success">Email {{i + 1}}</div>
              </div>

              <label class="label">Email</label>
              <input class="input"
                     type="text" formControlName="email">
              <label class="label mt-2">Type</label>
              <input class="input mb-2"
                     type="text" formControlName="type">
            </div>
          </div>

          <button type="button" class="mb-5" (click)="addEmail()">Add email</button>

          <!-- Add address -->
          <div class="field" formArrayName="addressList" id="addressList">
            <div *ngFor="let address of address.controls; let i=index" [formGroupName]="i">

              <div>
                  <div class="divider is-success">Address {{i + 1}}</div>
              </div>

              <label class="label">Address</label>
              <input class="input"
                     type="text" formControlName="address">
              <label class="label mt-2">Type</label>
              <input class="input mb-2"
                     type="text" formControlName="type">
            </div>
          </div>

          <button type="button" class="mb-5" (click)="addAddress()">Add address</button>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary is-small">Create contact</button>
            </div>
          </div>

        </form>
      </div>

    </div>

  </section>

</div>
