<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/img/iPear.png" alt="ContactKeeper logo">

    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" *ngIf="userIsLoggedIn">
        My lists
      </a>

    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="userIsLoggedIn">
        <a class="navbar-link">
          <i class="fa-solid fa-circle-user fa-2x"></i>
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" routerLink="/changePassword">
            Change password
          </a>
          <a class="navbar-item" (click)="logout()">
            <strong>Logout</strong>
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons" *ngIf="!userIsLoggedIn">
          <a class="button is-primary" routerLink="/registration">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" routerLink="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
