<div class="addAddressForm">
  <form [formGroup]="addAddressForm" (ngSubmit)="handleSubmit()">

    <div class="field" id="address">
      <label class="label">Address </label>
      <div class="control">
        <input class="input is-small"
               [ngClass]="{'is-danger' : addAddressForm.controls.address.hasError('required')
&& !addAddressForm.controls.address.untouched }" type="text" formControlName="address">
      </div>

      <div *ngIf="addAddressForm.controls.address.hasError('required')
&& !addAddressForm.controls.address.untouched">

        <p class="help is-danger">Email is mandatory</p>

      </div>

    </div>

    <div class="field" id="type">
      <label class="label">Type </label>
      <div class="control">
        <input class="input is-small"
               [ngClass]="{'is-danger' : addAddressForm.controls.type.hasError('required')
&& !addAddressForm.controls.type.untouched }"
               type="text"
               formControlName="type">
      </div>

      <div *ngIf="addAddressForm.controls.type.hasError('required')
&& !addAddressForm.controls.type.untouched">

        <p class="help is-danger">Type is mandatory</p>

      </div>

    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Add address</button>
      </div>
    </div>

  </form>
</div>
