.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2000px;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-block {
  background-color: white;
}

@media only screen and (max-width: 600px) {

  .list-content {
    font-size: 0.75rem;
  }

  .button {
    font-size: 0.75rem;
  }

  .modal {
    padding: 10px;
  }
}
