<div class="container">

  <section class="section">

    <h1 class="title has-text-centered">My lists</h1>

    <article class="panel is-info">
      <p class="panel-heading">
        Lists

        <button class="button is-dark is-inverted"
                (click)="toggleModal()">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
        </button>
      </p>

      <div class="panel-block">
        <p class="control has-icons-left">
          <label for="searchLists"></label>
          <input [(ngModel)]="searchListsFilter" name="searchLists" id="searchLists"
                 class="input is-info" type="text" placeholder="Search"/>
          <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
        </p>
      </div>

      <div class="panel-block is-active" *ngFor="let list of lists | searchLists : searchListsFilter">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>

        <div class="list-content">

          {{ list.name }}

          <div class="list-item-controls">
            <div class="buttons">

              <button class="button is-dark is-inverted">
              <span class="icon">
                <i class="fas fa-pencil-alt"></i>
              </span>
              </button>

              <button class="button is-dark is-inverted" (click)="deleteList(list.id!, list.name!)">
              <span class="icon">
                <i class="fa-solid fa-trash"></i>
              </span>
              </button>
            </div>
          </div>

        </div>

      </div>

    </article>

    <!-- Modal for adding new lists -->
    <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
      <div class="modal-background" (click)="toggleModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create a new list</p>
          <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">


          <form [formGroup]="newListForm" (ngSubmit)="handleSubmit()">

            <div class="field" id="name">
              <label class="label">Name</label>
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger' : newListForm.controls.name.hasError('required')
&& !newListForm.controls.name.untouched }" type="text" formControlName="name">
              </div>

              <div *ngIf="newListForm.controls.name.hasError('required')
&& !newListForm.controls.name.untouched">

                <p class="help is-danger">Name is mandatory</p>

              </div>

            </div>

            <div class="field is-grouped">
              <div class="control">
                <div class="columns is-mobile">
                  <div class="column is-5">
                    <button class="button is-link">Save</button>
                  </div>
                  <div class="column">
                    <button class="button is-danger" (click)="toggleModal()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </section>
        <footer class="modal-card-foot">

        </footer>
      </div>
    </div>

  </section>

</div>

