<div class="container">
  <div class="section">

    <div class="card shadow-lg">
      <div class="card-content">
        <div class="content">

          <div class="header">
            <h3 class="name">

              <ng-container *ngIf="contact.contactEmergency">
                <i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
              </ng-container>

              {{ contact.name }} {{ contact.surname }}
            </h3>

            <div class="buttons">
              <button class="button is-dark is-inverted">
            <span class="icon">
              <i class="fas fa-pencil-alt"></i>
            </span>
              </button>

              <button class="button is-dark is-inverted" (click)="deleteContact(contact.listId!, contact.id!)">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
              </button>
            </div>
          </div>

          <p>
            <i class="fa-solid fa-cake-candles"></i> {{ contact.birthday }}
          </p>

          <h4 class="title is-4">
            Telephone

            <button class="button is-dark is-inverted is-small">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>
          <ng-container *ngFor="let telephone of contact.telephoneList">

            <p>
              Number: {{ telephone.telephoneNumber }}
            </p>

            <p>
              Type: {{ telephone.type }}
            </p>

            <h6 class="is-6">####</h6>

          </ng-container>

          <br>

          <h4 class="title is-4">
            Email

            <button class="button is-dark is-inverted is-small">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>
          <ng-container *ngFor="let email of contact.emailList">

            <p>
              Email: {{ email.email }}
            </p>

            <p>
              Type: {{ email.type }}
            </p>

            <h6 class="is-6">####</h6>

          </ng-container>

          <br>

          <h4 class="title is-4">
            Address

            <button class="button is-dark is-inverted is-small">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>
          <ng-container *ngFor="let address of contact.addressesList">

            <p>
              Address: {{ address.address }}
            </p>

            <p>
              Type: {{ address.type }}
            </p>

            <h6 class="is-6">####</h6>

          </ng-container>

        </div>
      </div>
    </div>


  </div>
</div>
