<div class="container">
  <div class="section">

    <div class="card shadow-lg">
      <div class="card-content">
        <div class="content">

          <div class="header">
            <h3 class="name">

              <ng-container *ngIf="contact.contactEmergency">
                <i class="fa-solid fa-circle-exclamation" title="Emergency contact" style="color: #ff0000;"></i>
              </ng-container>

              {{ contact.name }} {{ contact.surname }}
            </h3>

            <div class="buttons">
              <button class="button is-dark is-inverted">
            <span class="icon">
              <i class="fas fa-pencil-alt"></i>
            </span>
              </button>

              <button class="button is-dark is-inverted" (click)="deleteContact(contact.listId!, contact.id!)">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
              </button>
            </div>
          </div>

          <p>
            <i class="fa-solid fa-cake-candles"></i> {{ contact.birthday }}
          </p>

          <h4 class="title is-4">
            Telephone

            <button class="button is-dark is-inverted is-small" (click)="showTelephoneForm()">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>

          <div id="comp-render" *ngIf="displayTelephoneForm">
            <app-add-telephone [idContact]="contact.id!"></app-add-telephone>
          </div>

          <ng-container *ngIf="contact.telephoneList!.length > 0; else noTelephone">

            <ng-container *ngFor="let telephone of contact.telephoneList">

              <div class="is-flex is-justify-content-flex-end">
                <button class="button is-dark is-inverted is-small" (click)="deletePhone(telephone)">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
                </button>
              </div>

              <p>
                Number: {{ telephone.telephoneNumber }}
              </p>

              <p>
                Type: {{ telephone.type }}
              </p>

              <h6 class="is-6">####</h6>

            </ng-container>

          </ng-container>

          <ng-template #noTelephone>
            <p>This contact does not have telephones.</p>
          </ng-template>


          <br>

          <h4 class="title is-4">
            Email

            <button class="button is-dark is-inverted is-small" (click)="showEmailForm()">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>

          <div id="comp-form-email" *ngIf="displayEmailForm">
            <app-add-email [idContact]="contact.id!"></app-add-email>
          </div>

          <ng-container *ngIf="contact.emailList!.length > 0; else noEmail">

            <ng-container *ngFor="let email of contact.emailList">

              <div class="is-flex is-justify-content-flex-end">
                <button class="button is-dark is-inverted is-small" (click)="deleteEmail(email)">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
                </button>
              </div>

              <p>
                Email: {{ email.email }}
              </p>

              <p>
                Type: {{ email.type }}
              </p>

              <h6 class="is-6">####</h6>

            </ng-container>

          </ng-container>

          <ng-template #noEmail>
            <p>This contact does not have emails.</p>
          </ng-template>

          <br>

          <h4 class="title is-4">
            Address

            <button class="button is-dark is-inverted is-small" (click)="showAddressForm()">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>

          </h4>

          <div id="comp-form-address" *ngIf="displayAddressForm">
            <app-add-address [idContact]="contact.id!"></app-add-address>
          </div>

          <ng-container *ngIf="contact.addressesList!.length > 0; else noAddress">
            <ng-container *ngFor="let address of contact.addressesList">

              <div class="is-flex is-justify-content-flex-end">
                <button class="button is-dark is-inverted is-small" (click)="deleteAddress(address)">
            <span class="icon">
              <i class="fa-solid fa-trash"></i>
            </span>
                </button>
              </div>

              <p>
                Address: {{ address.address }}
              </p>

              <p>
                Type: {{ address.type }}
              </p>

              <h6 class="is-6">####</h6>

            </ng-container>

          </ng-container>

          <ng-template #noAddress>
            <p>This contact does not have addresses.</p>
          </ng-template>

        </div>
      </div>
    </div>


  </div>
</div>
