<section class="hero">
  <div class="hero-body">
    <p class="title">{{ list.name }}</p>

    <button class="button is-dark is-inverted" routerLink="/newContact/{{listId}}" title="Add new contact">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
    </button>
  </div>
</section>

<section class="section">

  <div class="container">

    <ng-container *ngIf="contacts.length > 0; else noContacts">

      <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr>
              <th class="has-text-centered">Name</th>
              <th class="has-text-centered">Surname</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let contact of contacts">
              <td data-label="Name" class="has-text-centered">
                <a routerLink="/contact/{{ contact.id }}">{{ contact.name }}</a>
              </td>
              <td data-label="Surname" class="has-text-centered">
                {{ contact.surname }}
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </ng-container>

    <ng-template #noContacts>
      <div>
        This list does not have contacts.
      </div>
    </ng-template>



  </div>

</section>


