a {
  color: black;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 0;
}
/** Buttons for sorting contacts **/
.sort {
  border-radius: 50px;
}
/** Pagination **/
.mat-mdc-paginator {
  font-size: 15px;
  background-color: white !important;
}
::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #00D1B2 !important;
}
::ng-deep .mdc-notched-outline > * {
  border-color: #00D1B2 !important;
}
